http_interactions:
- request:
    method: get
    uri: https://pasta-s.lternet.edu/package/sources/eml/edi/1932/1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <dataSources>
            <dataSource>
                <packageId>edi.1923.1</packageId>
                <title>This is a test data package generated by the EDIutils R library</title>
                <url>https://pasta-s.lternet.edu/package/metadata/eml/edi/1923/1</url>
            </dataSource>
        </dataSources>
  recorded_at: 2022-01-18 19:12:08 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0

