http_interactions:
- request:
    method: get
    uri: https://pasta.lternet.edu/package/citations/eml/uid=csmith,o=EDI,dc=edirepository,dc=org
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<journalCitations>\n<journalCitation>\n
        \   <journalCitationId>46</journalCitationId>\n    <packageId>edi.17.1</packageId>\n
        \   <principalOwner>uid=csmith,o=EDI,dc=edirepository,dc=org</principalOwner>\n
        \   <dateCreated>2018-09-06T09:36:54.459</dateCreated>\n    <articleDoi>https://doi.org/10.1890/11-1026.1</articleDoi>\n
        \   <articleTitle>Corridors promote fire via connectivity and edge effects</articleTitle>\n
        \   <articleUrl>https://esajournals.onlinelibrary.wiley.com/doi/abs/10.1890/11-1026.1</articleUrl>\n
        \   <journalTitle>Ecological Applications</journalTitle>\n    <relationType>IsCitedBy</relationType>\n</journalCitation>\n</journalCitations>"
  recorded_at: 2022-01-18 19:55:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
