http_interactions:
- request:
    method: get
    uri: https://pasta-s.lternet.edu/package/reservations/eml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: |
        <reservations>
          <reservation>
            <docid>edi.106</docid>
            <principal>uid=user10,o=EDI,dc=edirepository,dc=org</principal>
            <dateReserved>2017-11-16 12:36:03.024</dateReserved>
          </reservation>
        </reservations>
  recorded_at: 2022-01-18 16:51:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
