http_interactions:
- request:
    method: GET
    uri: https://pasta.lternet.edu/package/citations/eml/EDI-543afa80c859825d35d37d9111c24a4a65a0db9f
  response:
    status: 200
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <journalCitations>
        <journalCitation>
            <journalCitationId>46</journalCitationId>
            <packageId>edi.17.1</packageId>
            <principalOwner>EDI-543afa80c859825d35d37d9111c24a4a65a0db9f</principalOwner>
            <dateCreated>2018-09-06T09:36:54.459</dateCreated>
            <articleDoi>10.1890/11-1026.1</articleDoi>
            <articleTitle>Corridors promote fire via connectivity and edge effects</articleTitle>
            <articleUrl>https://esajournals.onlinelibrary.wiley.com/doi/abs/10.1890/11-1026.1</articleUrl>
            <journalTitle>Ecological Applications</journalTitle>
            <relationType>IsCitedBy</relationType>
            <pubDate></pubDate>
            <journalIssue></journalIssue>
            <journalVolume></journalVolume>
            <articlePages></articlePages>
            <articleAuthors>
            </articleAuthors>
        </journalCitation>
        <journalCitation>
            <journalCitationId>47</journalCitationId>
            <packageId>edi.43.1</packageId>
            <principalOwner>EDI-543afa80c859825d35d37d9111c24a4a65a0db9f</principalOwner>
            <dateCreated>2018-09-06T09:40:34.073</dateCreated>
            <articleDoi>10.3368/er.31.1.23</articleDoi>
            <articleTitle>Landscape Corridors Promote Long-Distance Seed Dispersal by Birds During Winter but[...]
