http_interactions:
- request:
    method: get
    uri: https://pasta-s.lternet.edu/package/event/eml?scope=edi
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
    body:
      encoding: UTF-8
      file: no
      string: |
        <subscriptions>
          <subscription type="eml">
            <id>97</id>
            <creator>uid=ediutils,o=EDI,dc=edirepository,dc=org</creator>
            <packageId>edi.3.1</packageId>
            <url>https://some.server.org</url>
          </subscription>
        </subscriptions>
  recorded_at: 2022-01-18 23:11:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
