http_interactions:
- request:
    method: get
    uri: https://pasta.lternet.edu/package/metadata/eml/knb-lter-cap/691/2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<eml:eml packageId=\"knb-lter-cap.691.2\"
        scope=\"system\"\n  system=\"https://pasta.edirepository.org\"\n  xmlns:eml=\"https://eml.ecoinformatics.org/eml-2.2.0\"\n
        \ xmlns:stmml=\"http://www.xml-cml.org/schema/stmml-1.2\"\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \   xsi:schemaLocation=\"https://eml.ecoinformatics.org/eml-2.2.0 https://eml.ecoinformatics.org/eml-2.2.0/eml.xsd\">\n
        \ <access\n    authSystem=\"https://pasta.edirepository.org/authentication\"\n
        \   order=\"allowFirst\" scope=\"document\"\n      system=\"https://pasta.edirepository.org\">\n
        \   <allow>\n      <principal>uid=CAP,o=EDI,dc=edirepository,dc=org</principal>\n
        \     <permission>all</permission>\n    </allow>\n    <allow>\n      <principal>public</principal>\n
        \     <permission>read</permission>\n    </allow>\n  </access>\n  <dataset>\n<dataTable\n          id=\"691_arthropods_00742cd00ab0d3d02337e28d1c919654.csv\">\n
        \     <entityName>691_arthropods_00742cd00ab0d3d02337e28d1c919654.csv</entityName>\n
        \     <entityDescription>ground arthropod capture data in the vicinity of
        the Phoenix-Mesa Gateway Airport, Mesa, Arizona, USA</entityDescription>\n
        \     <physical>\n        <objectName>691_arthropods_00742cd00ab0d3d02337e28d1c919654.csv</objectName>\n
        \       <size\n          unit=\"bytes\">128321</size>\n        <authentication\n
        \             method=\"MD5\">00742cd00ab0d3d02337e28d1c919654</authentication>\n
        \       <dataFormat>\n          <textFormat>\n            <numHeaderLines>1</numHeaderLines>\n
        \           <recordDelimiter>\\r\\n</recordDelimiter>\n            <attributeOrientation>column</attributeOrientation>\n
        \           <simpleDelimited>\n              <fieldDelimiter>,</fieldDelimiter>\n
        \             <quoteCharacter>\"</quoteCharacter>\n            </simpleDelimited>\n
        \         </textFormat>\n        </dataFormat>\n        <distribution>\n          <online>\n
        \           <url\n                    function=\"download\">https://pasta.lternet.edu/package/data/eml/knb-lter-cap/691/2/f6e4efd0b04aea3860724824ca05c5dd</url>\n
        \         </online>\n        </distribution>\n      </physical>\n      <coverage>\n
        \       <temporalCoverage>\n          <rangeOfDates>\n            <beginDate>\n
        \             <calendarDate>2010-10-12</calendarDate>\n            </beginDate>\n
        \           <endDate>\n              <calendarDate>2019-11-19</calendarDate>\n
        \           </endDate>\n          </rangeOfDates>\n        </temporalCoverage>\n
        \     </coverage>\n      <attributeList>\n        <attribute>\n          <attributeName>Date</attributeName>\n
        \         <attributeDefinition>date of observation</attributeDefinition>\n
        \         <storageType>date</storageType>\n          <measurementScale>\n
        \           <dateTime>\n              <formatString>YYYY-MM-DD</formatString>\n
        \             <dateTimeDomain/>\n            </dateTime>\n          </measurementScale>\n
        \       </attribute>\n        <attribute>\n          <attributeName>Site</attributeName>\n
        \         <attributeDefinition>sampling site: one of three sites each with
        two trap arrays</attributeDefinition>\n          <storageType>string</storageType>\n
        \         <measurementScale>\n            <nominal>\n              <nonNumericDomain>\n
        \               <enumeratedDomain>\n                  <codeDefinition>\n                    <code>GWA1</code>\n
        \                   <definition>Gateway 1</definition>\n                  </codeDefinition>\n
        \                 <codeDefinition>\n                    <code>GWA2</code>\n
        \                   <definition>Gateway 2</definition>\n                  </codeDefinition>\n
        \                 <codeDefinition>\n                    <code>GWA3</code>\n
        \                   <definition>Gateway 3</definition>\n                  </codeDefinition>\n
        \               </enumeratedDomain>\n              </nonNu[...]
