http_interactions:
- request:
    method: get
    uri: https://pasta.lternet.edu/package/report/eml/knb-lter-knz/260/4
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<qr:qualityReport\n  xmlns=\"eml://ecoinformatics.org/qualityReport\"\n
        \ xmlns:qr=\"eml://ecoinformatics.org/qualityReport\"\n  xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n
        \ xsi:schemaLocation=\"eml://ecoinformatics.org/qualityReport https://raw.githubusercontent.com/PASTAplus/PASTA/master/DataPackageManager/WebRoot/xml/qualityReportSchema.xsd\"\n
        \ >\n  <creationDate>2020-02-04T16:38:38</creationDate>\n  <packageId>knb-lter-knz.260.4</packageId>\n
        \ <includeSystem>lter</includeSystem>\n  <includeSystem>knb</includeSystem>\n
        \ <datasetReport>\n    <qualityCheck qualityType=\"metadata\" system=\"lter\"
        statusType=\"error\" >\n      <identifier>packageIdPattern</identifier>\n
        \     <name>packageId pattern matches \"scope.identifier.revision\"</name>\n
        \     <description>Check against LTER requirements for scope.identifier.revision</description>\n
        \     <expected>'scope.n.m', where 'n' and 'm' are integers and 'scope' is
        one of an allowed set of values</expected>\n      <found>knb-lter-knz.260.4</found>\n
        \     <status>valid</status>\n      <explanation></explanation>\n      <suggestion></suggestion>\n
        \     <reference></reference>\n    </qualityCheck>\n    <qualityCheck qualityType=\"metadata\"
        system=\"lter\" statusType=\"error\" >\n      <identifier>emlVersion</identifier>\n
        \     <name>EML version 2.1.0 or beyond</name>\n      <description>Check the
        EML document declaration for version 2.1.0 or higher</description>\n      <expected>eml://ecoinformatics.org/eml-2.1.0
        or higher</expected>\n      <found>eml://ecoinformatics.org/eml-2.1.0</found>\n
        \     <status>valid</s[...]
