http_interactions:
- request:
    method: get
    uri: https://pasta.lternet.edu/package/rmd/eml/knb-lter-mcm/9129/3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <resourceMetadata>
            <dateCreated>2021-04-27 17:50:46.084</dateCreated>
            <doi>doi:10.6073/pasta/26cc82b742eb99a667fae2c367032724</doi>
            <entityId>null</entityId>
            <entityName>null</entityName>
            <fileName>null</fileName>
            <identifier>9129</identifier>
            <packageId>knb-lter-mcm.9129.3</packageId>
            <principalOwner>uid=MCM,o=EDI,dc=edirepository,dc=org</principalOwner>
            <resourceId>https://pasta.lternet.edu/package/eml/knb-lter-mcm/9129/3</resourceId>
            <resourceType>dataPackage</resourceType>
            <revision>3</revision>
            <scope>knb-lter-mcm</scope>
        </resourceMetadata>
  recorded_at: 2022-01-19 00:20:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
