http_interactions:
- request:
    method: get
    uri: https://pasta.lternet.edu/package/search/eml?defType=edismax&q=%22air+temperature%22&fl=*
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: "<resultset numFound='1347' start='0' rows='10'>\n    <document>\n        <abstract>This
        project contains data collected from sites located on the campus of Mars Hill
        University in Mars Hill, NC. Weather data includes measurements of air temperature,
        relative humidity, wind speed and direction, precipitation, and photosynthetically
        active solar radiation. Soil moisture, soil temperature, and air temperature
        data were measured at two forested locations. At each forested location, eight
        soil moisture sensors were installed in transects radiating NE, NW, SE, and
        SW from the datalogger. Sensors were installed approximately 20m and 40m along
        the transect. Measurements were taken every minute and hourly and daily data
        values recorded.</abstract>\n        <begindate>2004-11-09</begindate>\n        <doi>doi:10.6073/pasta/ef073af5a58c7e2290ffc49b64c54a57</doi>\n
        \       <enddate>2018-01-25</enddate>\n        <funding>This material is based
        upon work supported by the National Science Foundation under grant numbers
        DEB-0823293, DEB-9632854 and DEB-0218001. Any opinions, findings, conclusions,
        or recommendations expressed in the material are those of the author(s) and
        do not necessarily reflect the views of the National Science Foundation.</funding>\n
        \       <geographicdescription></geographicdescription>\n        <id>knb-lter-cwt.4038</id>\n
        \       <methods>Photosynthetically Active Radiation\n            Photosynthetically
        Active Radiation is measured using a LiCor LI-190SB sensor installed approximately
        one meter above ground.\n          \n        \n        LiCOR 190- SB Photosynthetically
        Active Radiation meter\n      \n      \n        \n          \n            Reference
        Air Temperature\n            Reference air temperature is measured using a
        Campbell Scientific CR10XTCR thermocouple located inside the e[...]
- request:
    method: get
    uri: https://pasta.lternet.edu/package/search/eml?defType=edismax&q=%22air+temperature%22&fl=*&rows=1347
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml
      web-service: DataPackageManager-1.0
    body:
      encoding: UTF-8
      file: no
      string: "<resultset numFound='1347' st[...]
